{
  "env": {
    
      "browser": true,
      "node": true,
      "es6": true
  },
 "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
   "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "space-unary-ops": [
        "error", {
          "words": true,
          "nonwords": false
        }
      ],
      "block-spacing": "error",
      "object-curly-spacing": ["error", "always"],
      "brace-style": ["error", "1tbs", { "allowSingleLine": false }],
      "comma-spacing": ["error", { "before": false, "after": true }],
      "indent": ["error", 2, {
        "SwitchCase": 1
      } ],
      "semi": ["error", "never"],
      "arrow-spacing": "error",
      "space-infix-ops": ["error", {"int32Hint": true}],
      "react/jsx-equals-spacing": ["error", "never"],
      "space-before-blocks": ["error", "always"],
      "keyword-spacing": ["error", {"before":true, "after":true}]
    }
}
